
/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* -----------------------------------------
--------------------Navbar------------------
------------------------------------------- */

header {
  background-color: #3400ff;
  height: 500px;
}

.logo {
  margin: 20px;
}

.menu-bar, #check, .fa-solid {
  display: none;
}

nav {
  color: white;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
}

.nav-item-active{
  margin-right: 10px;
  background-color: white;
  color: #5a31fc;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.header-text {
  margin-left: 20px;
  margin-top: 50px;
  float: left;
  color: white;
}

.header-text h2 {
  font-size: 6vmin;
}

.header-image {
  margin-top: 30px;
  float: right;
}

.companies {
  margin-left: 20px;
  margin-top: 20px;
}

.company-items {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 3vmin;
}

/* -----------------------------------------
--------------------API Section------------------
------------------------------------------- */

.api-heading {
  margin-top: 70px;
  margin-left: 40px;
}

.cards {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
}

.card {
  padding: 15px;
  height: 250px;
  width: 20%;
  background-color: white;
  margin-left: 10px;
  border-radius: 15px;
  
}

.card-active {
  height: 250px;
  width: 20%;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  margin-left: 10px;
  border-radius: 15px;
}

/* -----------------------------------------
--------------------Blog Section------------------
------------------------------------------- */

.blog-heading {
  margin-left: 40px;
  margin-top: 30px;
}

.blog-cards {
  margin-left: 40px;
  display: flex;
  gap: 20px;
}

.blog-card {
  display: flex;
  gap: 20px;
  background-color: #fff;
  height: 356px;
  border-radius: 20px;
  border-top-left-radius: 80px;
  
  width: 48%;
}

.blog-image img{
  width: 310px;
}

.blog-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-bottom, .blog-author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

small {
  font-size: 12px;
}

.blog-content h6 {
  color: blue;
}

/* -----------------------------------------
--------------------FAQ Section------------------
------------------------------------------- */

.faq-section {
  margin-left: 40px;
}

.faq-content h2 {
  font-size: 6vmin;
}

.faq-content h4 {
  font-size: 2vmin;
}

.faq-content button{
  background-color: #3400ff;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
}


.faq-section {
  margin: 0px;
  padding-left: 40px;
  margin-top: 80px;
  background-color: rgb(242, 230, 230);
  display: flex;
  height: 400px;
  justify-content: space-between;
}

.faq-image img{
  height: 400px;
}

/* -----------------------------------------
--------------------DOWNLOAD SECTION------------------
------------------------------------------- */

.download-section {
  margin-top: 100px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
}

.download-content h1 {
  font-weight: bold;
}

.download-content h1 span {
  font-weight: normal;
}

form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #fff;
  padding: 7px 20px;
  width: 500px;
  border-radius: 30px;
  background-color: rgb(242, 230, 230);
}

input {
  border: none;
  background-color: transparent;
}

form button{
  background-color: #3400ff;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  margin-right: -10px;
}

/* -----------------------------------------
--------------------FOOTER------------------
------------------------------------------- */

.footer-section {
  padding-top: 20px;
  height: 200px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  background-color: #3400ff;
  justify-content: space-between;
}

.footer-left {
  margin-left: 40px;
}

.logos-list .list-items {
  margin-right: 10px;
  margin-left: 5px;
  color: white;
}

.footer-right {
  margin-right: 50px;
}

.footer-right img {
  margin-left: 20px;
}

ul {
  margin-left: -40px;
}

li {
  display: inline-block;
  color: white;
  margin-left: 20px;
}

/* -----------------------------------------
--------------------MOBILE DESIGN------------------
------------------------------------------- */



@media only screen and (max-width: 768px) {

  nav {
    margin-top: 80px;
    position: fixed;
    width: 60%;
    text-align: center;
    height: 100vh;
    background: #000;
    border-radius: 20px;
    margin-left: -100%;
    transition: all 0.5s;
  }

  nav a {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  nav a:hover {
    background-color: white;
    color: #5a31fc;
    border-radius: 4px;
    padding: 5px 0;
    margin-left: 10px;
  }

  .nav-item-active {
    margin-left: 10px;
  }
  
  .fa-solid {
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 6vmin;
    color: white;
    cursor: pointer;
  }

  #check {
    position: absolute;
    top: 30px;
    right: 100px;
  }

  #check:checked ~ nav {
    margin-left: 0px;
  } 

  .header-image {
    display: none;
  }

  .cards {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .card {
    width: 250px;
  }

  .card-active{
    width: 250px;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    gap: 400px;
    margin: 60px;
    
  }

  .api-heading {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  .blog-heading {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  .faq-section {
    margin-top: 350px;
    flex-direction: column;
    grid: 50px;
    height: 600px;
    text-align: center;
  }

  .faq-image img {
    width: 400px;
    height: 300px;
  }

  .download-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .download-content h1 {
    margin-left: 120px;
    text-align: center;
  }

  form {
    margin-left: 120px;
    width: 320px;
  }

  li {
    font-size: 10px;
    margin-left: 20px;
  }

  .footer-right ul {
    margin-left: 30px;
  }

  ul {
    display: flex;
    margin-left: -10px;
    padding: 0;
  }

  .footer-right-logo {
    margin-top: 0px;
    display: flex;
    margin-right: -10px;
  }

}
